# User
# Run `id` in your terminal to find your PUID and PGID
PUID=501
PGID=20
TZ=Europe/Dublin

# Ports
JELLYFIN_PORT=8096
QBITTORRENT_PORT=8080
SONARR_PORT=8989
RADARR_PORT=7878
PROWLARR_PORT=9696
FLARESOLVERR_PORT=8191
JELLYSEERR_PORT=5055
SABNZBD_PORT=8085
TORRENT_PORT=6881
MOVIESEER_PORT=8099
PLEX_PORT=32400

# Paths
# Path to your media storage volume
DATA_PATH=/Volumes/YourDrive/media
MEDIA_MOUNT=/data

# API Keys
# HOST_IP is your Tailscale IP or local IP
HOST_IP=100.x.x.x
JELLYFIN_API_KEY=your_jellyfin_api_key
JELLYSEERR_API_KEY=your_jellyseerr_api_key
SONARR_API_KEY=your_sonarr_api_key
RADARR_API_KEY=your_radarr_api_key
PROWLARR_API_KEY=your_prowlarr_api_key
SABNZBD_API_KEY=your_sabnzbd_api_key
QBITTORRENT_USER=admin
QBITTORRENT_PASS=your_qbittorrent_password
